html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(230, 227, 227);
    font-family: 'Roboto', sans-serif;
}

footer{
    header {
        background: rgb(6, 159, 248);
        color:#fff9f9;
        padding: 20px;
    }
    
}

a{
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.hero h1 {
    font-size: 80px;
}

.hero p {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

nav {
    background:rgb(6, 159, 248);
    height: 80px;
    box-shadow: rgba(rgb(6, 159, 248),black,white,alpha) 0px 8px 24px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
}
nav a {
    flex: 1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#000;
    transition: .2s ease-in-out all;
    font-weight: 500;
}

nav a:hover {
    background: #f0f0f0;
}

nav .indicador {
    width: 0px;
    height: 7px;
    background: #113cfc;
    position: absolute;
    bottom:0;
    transition: .3s ease-in-out all;
}

.seccion {
    min-height: 100vh;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion .card {
    background: rgb(226, 224, 224);
    height: 90%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(rgb(6, 159, 248),black,white,alpha) 0px 8px 24px;
}

.section h1{
   font-size:48px;
   margin-bottom:20px;
}

.seccion p{
    line-height: 38px;
    margin-bottom: 40px;
    color:black;
    font-size: 20px;
}

.seccion img{
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}



#hora {
    font-size: 64px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20vh;
}

#hora::before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #b412dd;
    margin-bottom: 20px;
}

#hora::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #0eccac;
    margin-top: 20px;
}


button[type="button"] {
    width: 100%;
    height: 40px;
    background-color: #cf0af7c2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #eb0dd8;
}

#resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.contenedor{
    width: 1000px;
    background: green;
    margin: 20px auto;
}

header {
    background: black;
    color:#fff9f9;
    padding: 20px;
}

.main {
    background: #fff;
    padding: 20px;
    width: 50%;
    float: left;
}



